.articles-block {
  background-color: $sinbad;
}

.article {
  text-align: left;
  font: 20px $sourceSansPro;
  color: $white;
  margin: 110px 0 80px;
  overflow: hidden;

  &__text {
    font-weight: 400;
    margin: 30px 0 20px;
  }

  &__date {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.article-figure {
  display: inline-block;
  width: 604px;
  height: 445px;

  &__img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }

  &__text {
    font: 26px $sourceSansPro;
    font-weight: 700;
  }
}

.article-links-item {
  display: inline;

  &__link {
    text-transform: uppercase;
    font: 20px $sourceSansPro;
    font-weight: 700;
    color: $white;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 20px;
    background-color: $white;
    vertical-align: middle;
    margin: 0 20px;
  }

  &:last-child::after {
    display: none;
  }
}

@media (max-width: $desktopL - 1) {

  .article {
    width: 49%;

    &-figure {
      width: 100%;
      height: 400px;
    }
  }
}

@media (max-width: $desktopMin - 1) {

  .article {

    &-figure {
      height: 275px;
    }
  }
}

@media (max-width: $tabletLMin - 1) {

  .articles-block .container {
    flex-direction: column;
    justify-content: center;
    padding-top: 108px;
  }

  .article {
    width: 100%;
    margin-top: 0;
    margin-bottom: 93px;

    &-figure {
      height: 470px;

      &__img {
        margin-bottom: 35px;
      }
    }

    &__text {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    &__date {
      margin-bottom: 45px;
    }
  }
}