.container {
  &_display {
    display: block;
  }
}

.contacts-block {
  text-transform: uppercase;

  &__link {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    font: 700 16px $sourceSansPro;
    color: $sinbad;
    background-color: transparent;
    border: none;
    margin: 60px auto 118px;
    transition: text-decoration 0.2s;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    text-align: center;
    font: 700 38px $museoSansBlack;
    color: $thunder;
    margin-bottom: 90px;
  }
}

.contacts {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $alto;
  padding-bottom: 115px;
  margin-bottom: 125px;

  &-item {
    text-align: center;
    font: 700 20px $sourceSansPro;

    &__text {
      color: $sinbad;
      margin-bottom: 3px;
    }

    &__link, &__tel {
      display: block;
      color: $thunder;
      transition: text-decoration 0.1s;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__link {
      margin-bottom: 7px;
    }

    &__tel {
      font: 300 20px $sourceSansPro;
    }
  }
}

@media (max-width: $desktopMin - 1){
  
  .contacts-block {
    
    &__link {
      display: none;
    }

    &__title {
      margin: 115px 0 105px;
    }
  }

  .contacts {
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 80px;

    &-item {
      width: 49%;
      margin-bottom: 75px;
    }
  }
}
