.diagonal-background {
  background-color: $white;
  padding-bottom: 95px;

  &__item {
    height: 70px;
    background: transparent url("../img/diagonal-pattern.jpg") repeat;

  }
}

@media (max-width: $tabletLMin - 1) {

  .diagonal-background {
    display: none;
  }
}