.header {
  background-color: $thunder;

  &__logo {
    display: inline-block;
    width: 93px;
    height: 33px;
    background: url("../img/logo.png") no-repeat;
    margin: 25px 130px 20px 0;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin-right: 130px;
}

.navigation-item {

  &__link {
    text-transform: uppercase;
    font: 16px $sourceSansPro;
    font-weight: 700;
    color: $white;
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: $sinbad;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: $gray;
    vertical-align: middle;
    margin: 0 18px;
  }

  &:last-child::after {
    display: none;
  }
}

.icons {
  align-self: center;
  margin-right: 32px;

  &__item {
    background: transparent url("../img/sprite.png") no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2s;

    &-glob {
      width: 26px;
      height: 26px;
      background-position: 0 0;
      margin-right: 28px;
    }

    &-search {
      width: 25px;
      height: 25px;
      background-position: -1px -31px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

.menu {
  align-self: center;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  padding: 13px 17px;
  transition: opacity 0.2s;

  &__text {
    text-transform: uppercase;
    font: 700 16px $museoSansBlack;
    margin-right: 10px;
  }

  &__icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../img/sprite.png") -7px -61px no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: $desktopL - 1) {

  .header__logo, .navigation, .icons {
    margin-right: 0;
  }
}

@media (max-width: $desktopMin - 1) and (min-width: $tabletLMin) {

  .navigation-item {

    &__link {
      font-size: 12px;
    }

    &::after {
      margin: 0 5px;
    }
  }

  .icons {

    &__item {

      &-glob {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: $tabletLMin - 1) {

  .header {

    &__logo {
      flex-grow: 1;
    }
  }

  .navigation {
    display: none;
  }

  .icons {
    margin-right: 55px;

    &__item {

      &-glob {
        margin-right: 45px;
      }
    }
  }
}

@media (max-width: $mobileL - 1) {

  .icons {
    margin-right: 20px;

    &__item-glob {
      margin-right: 10px;
    }
  }
}