.projects-block {
  background-color: transparent;
  position: relative;
}

.project {
  width: 409px;
  margin-right: 26.5px;
  margin-bottom: 100px;
  overflow: hidden;

  &__text {
    text-transform: capitalize;
    font: 400 20px $sourceSansPro;
    color: $thunder;
  }

  &-item {
    margin-bottom: 28px;

    &__img {
      width: 100%;
      height: 299px;
      margin-bottom: 40px;
    }

    &__text {
      font: 700 26px $sourceSansPro;
      color: $thunder;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.project:nth-last-child(-n+3) .project-item__text,
.project:nth-last-child(-n+3) .project__text {
  color: $white;
}

.red-block {
  width: 100%;
  height: 375px;
  background-color: $redDamask;
  position: absolute;
  bottom: 0;
}

@media (max-width: $desktopL - 1) {

  .project {

    &:nth-last-child(-n+3) &-item__text,
    &:nth-last-child(-n+3) &__text {
      color: $thunder;
    }

    &:nth-last-child(-n+1) &-item__text,
    &:nth-last-child(-n+1) &__text {
      color: $white;
    }
  }
}

@media (max-width: $desktopL - 1) and (min-width: $desktopMin) {

  .project {

    &:nth-child(3n) {
      margin-right: 26.5px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: $desktopMin - 1) {

  .projects-block .container {
    justify-content: center;
  }

  .project {
    margin-right: 0;
  }
}

