.selected-block {
  margin-bottom: 90px;

  &-item {
    background-color: $alabaster;
    padding: 20px 25px;
    margin-right: 20px;
    margin-bottom: 20px;

    &__text {
      text-transform: uppercase;
      font: 700 20px $sourceSansPro;
      color: $thunder;
      margin-right: 50px;
    }

    &__icon {
      display: inline-block;
      width: 10px;
      height: 11px;
      background: url("../img/sprite.png") -8px -98px no-repeat;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $desktopL - 1) {

  .selected-block .container {
    justify-content: center;
  }
}

@media (max-width: $tabletLMin - 1) {

  .selected-block {
    display: none;
  }
}