body {
  font-family: $sourceSansPro, sans-serif;
  font-weight: 400;
  color: $thunder;
  background-color: $white;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.container {
  width: 1280px;
  display: flex;
  margin: 0 auto;

  &_direction {
    flex-direction: column;
  }

  &_justify-content {
    justify-content: space-between;
  }

  &_center {
    justify-content: center;
  }

  &_wrap {
    flex-wrap: wrap;
  }
}

.position {
  position: relative;
  z-index: 2;
}

@media (max-width: $desktopL - 1){

  .container {
    padding: 0 10px;
  }
}

@media (max-width: $desktopL - 1) and (min-width: $desktopMin) {

  .container {
    width: 1004px;
  }

  .position {
    justify-content: center;
  }
}

@media (max-width: $desktopMin - 1) and (min-width: $tabletLMin) {

  .container {
    width: 748px;
  }
}

@media (max-width: $tabletLMin - 1) {

  .container {
    max-width: 640px;
  }
}

@media (max-width: $mobileL - 1) {

  .container {
    max-width: 300px;
  }
}

