@font-face {
  font-family: 'Museo Sans Black', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/museo-sans-black/museo-sans-black.eot');
  src: url('../fonts/museo-sans-black/museo-sans-black.eot?iefix') format('eot'),
  url('../fonts/museo-sans-black/museo-sans-black.woff') format('woff'),
  url('../fonts/museo-sans-black/museo-sans-black.ttf') format('truetype'),
  url('../fonts/museo-sans-black/museo-sans-black.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Museo Slab Light', serif;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/museo-slab-light/museo-slab-light.eot');
  src: url('../fonts/museo-slab-light/museo-slab-light.eot?iefix') format('eot'),
  url('../fonts/museo-slab-light/museo-slab-light.woff') format('woff'),
  url('../fonts/museo-slab-light/museo-slab-light.ttf') format('truetype'),
  url('../fonts/museo-slab-light/museo-slab-light.svg#webfont') format('svg');
}
