@font-face {
  font-family: 'Museo Sans Black', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/museo-sans-black/museo-sans-black.eot');
  src: url('../fonts/museo-sans-black/museo-sans-black.eot?iefix') format('eot'),
  url('../fonts/museo-sans-black/museo-sans-black.woff') format('woff'),
  url('../fonts/museo-sans-black/museo-sans-black.ttf') format('truetype'),
  url('../fonts/museo-sans-black/museo-sans-black.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Museo Slab Light', serif;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/museo-slab-light/museo-slab-light.eot');
  src: url('../fonts/museo-slab-light/museo-slab-light.eot?iefix') format('eot'),
  url('../fonts/museo-slab-light/museo-slab-light.woff') format('woff'),
  url('../fonts/museo-slab-light/museo-slab-light.ttf') format('truetype'),
  url('../fonts/museo-slab-light/museo-slab-light.svg#webfont') format('svg');
}

/*@font-face {
  font-family: "MuseoSansBlack";
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
  url("../fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'MuseoSlab-300';
  src: url('../fonts/MuseoSlab-300/MuseoSlab-300.woff') format('woff'),
  url('../fonts/MuseoSlab-300/MuseoSlab-300.ttf') format('truetype'),
  url('../fonts/MuseoSlab-300/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
