/*Colors*/
$thunder: #343334;
$gray: #808080;
$silver: #bbb;
$alabaster: #f7f7f7;
$white: #fff;
$sinbad: #94ccd6;
$redDamask: #d35d47;


/*Fonts*/
$museoSansBlack: 'Museo Sans Black', sans-serif;
$museoSlabLight: 'Museo Slab Light', serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;


