/*Colors*/
$thunder: #343334;
$mineShaft: #343233;
$gray: #808080;
$grayApprox: #939393;
$silver: #bbb;
$alto: #d6d6d6;
$alabaster: #f7f7f7;
$white: #fff;
$sinbad: #94ccd6;
$redDamask: #d35d47;
$wattle: #cedb56;

/*Fonts*/
$museoSansBlack: "Museo Sans Black", sans-serif;
$museoSlabLight: "Museo Slab Light", serif;
$sourceSansPro: "Source Sans Pro", sans-serif;

/*Sizes*/
$desktopL: 1280px;
$desktopMin: 1024px;
$tabletLMin: 992px;
$mobileL: 750px;
$mobileLMin: 425px;
$mobileMMin: 375px;
$mobileSMin: 320px;


