/*Colors*/
$black: #000;
$white: #fff;


/*Fonts*/
$museoSansBold: 'Museo Sans Bold', sans-serif;
$museoSlabLight: 'Museo Slab Light', serif;
$sourceSansProBold: 'Source Sans Pro Bold', sans-serif;
$sourceSansProLight: 'Source Sans Pro Light', sans-serif;
$sourceSansProLightItalic: 'Source Sans Pro Light Italic', sans-serif;
$sourceSansProRegular: 'Source Sans Pro Regular', sans-serif;

